<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LimeSeed.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <LimeSeed.My.MySettings>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>640, 480</value>
            </setting>
            <setting name="Gapless" serializeAs="String">
                <value>0.11</value>
            </setting>
            <setting name="MustUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SingleInstance" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Device" serializeAs="String">
                <value />
            </setting>
            <setting name="Keyboard_About" serializeAs="String">
                <value>Ctrl + F1</value>
            </setting>
            <setting name="Keyboard_AddToPL" serializeAs="String">
                <value>Insert</value>
            </setting>
            <setting name="Keyboard_ClearPL" serializeAs="String">
                <value>Shift + Delete</value>
            </setting>
            <setting name="Keyboard_Close" serializeAs="String">
                <value>Ctrl + C</value>
            </setting>
            <setting name="Keyboard_FS" serializeAs="String">
                <value>Shift + Enter</value>
            </setting>
            <setting name="Keyboard_Last" serializeAs="String">
                <value>Home</value>
            </setting>
            <setting name="Keyboard_Mute" serializeAs="String">
                <value>Ctrl + M</value>
            </setting>
            <setting name="Keyboard_Next" serializeAs="String">
                <value>End</value>
            </setting>
            <setting name="Keyboard_Open" serializeAs="String">
                <value>Ctrl + O</value>
            </setting>
            <setting name="Keyboard_OpenPL" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Keyboard_PlayPause" serializeAs="String">
                <value>Spacebar</value>
            </setting>
            <setting name="Keyboard_Props" serializeAs="String">
                <value>Ctrl + P</value>
            </setting>
            <setting name="Keyboard_RemoveFromPL" serializeAs="String">
                <value>Delete</value>
            </setting>
            <setting name="Keyboard_RenamePL" serializeAs="String">
                <value>Ctrl + F2</value>
            </setting>
            <setting name="Keyboard_RepeatPL" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Keyboard_RepeatTrack" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Keyboard_SavePL" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Keyboard_Settings" serializeAs="String">
                <value>Ctrl + S</value>
            </setting>
            <setting name="Keyboard_Shuffle" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Keyboard_SkipBack" serializeAs="String">
                <value>Left Arrow</value>
            </setting>
            <setting name="Keyboard_SkipFwd" serializeAs="String">
                <value>Right Arrow</value>
            </setting>
            <setting name="Keyboard_Stop" serializeAs="String">
                <value>Escape</value>
            </setting>
            <setting name="Keyboard_VolDown" serializeAs="String">
                <value>Page Down</value>
            </setting>
            <setting name="Keyboard_VolUp" serializeAs="String">
                <value>Page Up</value>
            </setting>
            <setting name="Keyboard_Webpage" serializeAs="String">
                <value>Ctrl + W</value>
            </setting>
            <setting name="Gamepad_About" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Gamepad_AddToPL" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Gamepad_ClearPL" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Gamepad_Close" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Gamepad_FS" serializeAs="String">
                <value>Button 1</value>
            </setting>
            <setting name="Gamepad_Last" serializeAs="String">
                <value>Button 5</value>
            </setting>
            <setting name="Gamepad_Mute" serializeAs="String">
                <value>Button 3</value>
            </setting>
            <setting name="Gamepad_Next" serializeAs="String">
                <value>Button 6</value>
            </setting>
            <setting name="Gamepad_Open" serializeAs="String">
                <value>Button 10</value>
            </setting>
            <setting name="Gamepad_OpenPL" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Gamepad_PlayPause" serializeAs="String">
                <value>Button 2</value>
            </setting>
            <setting name="Gamepad_Props" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Gamepad_RemoveFromPL" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Gamepad_RenamePL" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Gamepad_RepeatPL" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Gamepad_RepeatTrack" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Gamepad_SavePL" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Gamepad_Settings" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Gamepad_Shuffle" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Gamepad_SkipBack" serializeAs="String">
                <value>X Axis Left</value>
            </setting>
            <setting name="Gamepad_SkipFwd" serializeAs="String">
                <value>X Axis Right</value>
            </setting>
            <setting name="Gamepad_Stop" serializeAs="String">
                <value>Button 4</value>
            </setting>
            <setting name="Gamepad_VolDown" serializeAs="String">
                <value>Y Axis Bottom</value>
            </setting>
            <setting name="Gamepad_VolUp" serializeAs="String">
                <value>Y Axis Top</value>
            </setting>
            <setting name="Gamepad_Webpage" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Keyboard_DVDMenu" serializeAs="String">
                <value>Alt + Spacebar</value>
            </setting>
            <setting name="Keyboard_DiscEject" serializeAs="String">
                <value>Down Arrow</value>
            </setting>
            <setting name="Gamepad_DVDMenu" serializeAs="String">
                <value>Button 9</value>
            </setting>
            <setting name="Gamepad_DiscEject" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Visualization" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Keyboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Gamepad" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BeatBG" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Visualization_Rate" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="DefaultLocale" serializeAs="String">
                <value />
            </setting>
            <setting name="Subtitles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Topmost" serializeAs="String">
                <value>False</value>
            </setting>
        </LimeSeed.My.MySettings>
    </userSettings>
</configuration>
